* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color)
}


:root {
    --light-color: rgb(201, 186, 182);
    --dark-color:  rgb(92, 74, 105);
}


body {
    background-color: var(--light-color);
}

h1, h2, h3, form {
    margin: 1vh;
}

button {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 1vh;
    padding: 5px;
    font-size: 16px;
    
}

ul li {
    list-style-type: none;
}


/* classes & id's to make (already added to html) */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: solid var(--dark-color) 1px;
    padding: 10px;
    margin: 5vh;
    border-radius: 10%;
    box-shadow: 5px 5px var(--dark-color);
    width: 50%;
}

/* ID's and CLASSES THAT DO NOT NEED CSS? */

/*  */
/* id openingSection */
/* id intro */
/* id startBtn */

/* id quizSection */
/* id timer */
/* id question */
/* id choices */
/* class choiceBtn */
/* id's choice1, 2, 3, 4 */

/* id endingSection */
/* id score */
/* id initials */
/* id saveBtn */

/* id scoresSection */
/* id highScores */
/* id restartBtn */
/* id clearBtn */