* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


:root {
    --light-color: rgb(201, 186, 182);
    --dark-color:  rgb(92, 74, 105);
}


body {
    background-color: var(--light-color);
}


div {
    
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: solid var(--dark-color) 1px;
   width: 50vh;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5vh;
   padding: 3vh;
   
}


div ul {
    list-style-type: none;
    padding: 1vh;
}


button {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1vh;
    border-radius: 15%;
    margin: 1vh;
}

#startButton {

}

#question1{

}

#question2{
    
}

#question3{
    
}

#question4{
    
}

#question5{
    
}

#finalScore {

}

#endBox {

}