* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


:root {
    --light-color: rgb(201, 186, 182);
    --dark-color:  rgb(92, 74, 105);
}


body {
    background-color: var(--light-color);
}



/* classes & id's to make (already added to html) */

.center {

}

#intro {

}

#startBtn {

}

#timer{

}

#question {

}

.choiceBtn {

}

/* id's choice1, 2, 3, 4 do not need CSS? */
/* id initials does not need CSS? */
